body {
    margin: 0;
    background: linear-gradient(to bottom, #a2d9ff, #2e89ff) no-repeat center fixed;
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #191970;
}

.navbar a {
    color: #D3D3D3;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: 0,3s ease;
}

.navbar a:hover {
    background-color: rgba(246, 255, 0, 0.411);
    border-bottom: 3px solid rgb(246, 255, 0);
}
.navbar a.active{
    color:rgb(246, 255, 0);
    border-bottom: 3px solid rgb(246, 255, 0);
}
.contact{
    background-color: rgba(246, 255, 0, 0.411);
}

.navbar li {
    float: left;
}

footer {
    background-color: #191970;
    color: #D3D3D3;
    padding: 10px;
    text-align: center;
}

/* Layout for Columns and Rows */
.row {
    display: flex; /* Use flexbox to align the columns */
}

.column {
    flex: 1; /* Equal width columns */
    padding: 10px; /* Add some padding */
}

.responsive-image {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}

/* Specific Styles for Articles */
article {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

article:nth-child(even) {
    flex-direction: row-reverse;
}

article p {
    flex: 1;
    padding: 10px;
}

.waterfall-section {
    padding: 40px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    article {
        flex-direction: column;
        text-align: center;
    }

    figure img {
        max-width: 100%;
    }

    article p {
        max-width: 100%;
    }
}

/* Aside Section */
#aside {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.button:hover {
    background-color: #191970;
    color: rgb(255, 255, 255);
}

/* Form Styling (if used on both pages) */
.my-form {
    padding-bottom: 50px;
}

.my-form label {
    display: block;
}

.my-form input[type="number"],
.my-form input[type="text"],
.my-form input[type="email"] {
    padding: 4px;
    width: 50%;
    background-color: #191970;
    color: white;
}

/* Flexbox Box */
.box {
    display: flex;
    flex-grow: 1;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    max-width: 500px;
}
.waterfall-section figure img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust this value to control the max size */
    margin: 0 auto;
}