body {
    margin: 0;
    background: linear-gradient(to bottom, #a2d9ff, #2e89ff) no-repeat center fixed;
    background-size: cover;
}

header {
    text-align: center;
    background-color: #0077b6; 
    color: white;
    padding: 20px;
}

main {
    padding: 40px;
}


.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}


.section.reverse {
    flex-direction: row-reverse !important; 
}



figure img {
    width: 45%; 
    height: auto;
    border-radius: 10px;
}



footer {
    text-align: center;
    background-color: #0077b6;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
}


h1, h2, h3 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #191970;
}

.navbar a {
    color: #D3D3D3;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: 0,3s ease;
}

.navbar a:hover {
    background-color: rgba(246, 255, 0, 0.411);
    border-bottom: 3px solid rgb(246, 255, 0);
}
.navbar a.active{
    color:rgb(246, 255, 0);
    border-bottom: 3px solid rgb(246, 255, 0);
}
.contact{
    background-color: rgba(246, 255, 0, 0.411);
}

.navbar li {
    float: left;
}

footer {
    background-color: #191970;
    color: #D3D3D3;
    padding: 10px;
    text-align: center;
}


.row {
    display: flex; 
}

.column {
    flex: 1; 
    padding: 10px;
}

.responsive-image {
    max-width: 100%; 
    height: auto; 
}


article {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

article:nth-child(even) {
    flex-direction: row-reverse;
}

article p {
    flex: 1;
    padding: 10px;
}

.waterfall-section {
    padding: 40px;
}


@media (max-width: 768px) {
    .section {
        flex-direction: column;
        text-align: center;
    }

    figure img {
        max-width: 100%;
    }

    article p {
        max-width: 100%;
    }
    
}


#aside {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.button:hover {
    background-color: #191970;
    color: rgb(255, 255, 255);
}


.my-form {
    padding-bottom: 50px;
}

.my-form label {
    display: block;
}

.my-form input[type="number"],
.my-form input[type="text"],
.my-form input[type="email"] {
    padding: 4px;
    width: 50%;
    background-color: #191970;
    color: white;
}